defaultEntryPoints = ["http", "https", "ws", "wss"]

################################################################
# Web configuration backend
################################################################
[api]
  entryPoint = "traefik"
  dashboard = true
  debug = true

################################################################
# Entry-points configuration
################################################################
[entryPoints]
  [entryPoints.http]
  address = ":80"
    [entryPoints.http.redirect]
    entryPoint = "https"
  [entryPoints.https]
  address = ":443"
    [entryPoints.http.auth.forward]
    address = "https://authserver.com/auth"
    trustForwardHeader = true
    authResponseHeaders = ["X-Auth-User", "X-Secret"]
    [entryPoints.https.tls]
      [[entryPoints.https.tls.certificates]]
      certFile = "/certs/server.crt"
      keyFile = "/certs/server.key"

################################################################
# Docker configuration backend
################################################################
[docker]
  endpoint = "unix:///var/run/docker.sock"
  domain = "traefik.test"
  watch = true
  network = "reverse_proxy"
  exposedbydefault = true
[docker.tls]
  ca = "/certs/server.crt"
  cert = "/certs/server.crt"
  key = "/certs/server.key"
  insecureSkipVerify = true

################################################################
# Let's encrypt
# Uncomment if you want to use in a prod environment
################################################################
#[acme]
#email = "j.lemoine@ludi.cat"
#storageFile = "/etc/traefik/acme.json"
#onDemand = false
#onHostRule = true
#entryPoint = "https"
#
#[acme.httpChallenge]
#  entryPoint = "http"